body {
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

form div {
  margin: 10px 0;
}

form label {
  margin-right: 10px;
}

form button {
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  font-weight: bolder;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
}

form button:hover {
  background-color: #0056b3;
}

table {
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  text-align: center;
  padding: 10px;
}

.schedule-table {
  width: 100%; /* Sets the width of the table to take up the full width of its container */
  border-collapse: collapse; /* Collapses cell borders */
}

.schedule-table th {
  background-color: #f0f0f0; /* Sets the background color of header cells to a light gray */
  height: 50px; /* Sets the height of header cells */
  text-align: center; /* Centers the text in header cells */
}

.schedule-table td {
  height: 50px; /* Sets the height of normal cells */
  text-align: center; /* Centers the text in normal cells */
  border: 1px solid #ddd; /* Adds a border around each cell */
  vertical-align: middle; /* Vertically centers the text in normal cells */
}
