<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>
  <body>
    <h1 class="title">GRAFIK PRACY</h1>
    <h2>LOGIN</h2>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Login" />
    </form>
    <p class="link-prompt">
      Don't have an account yet? <a href="/register">Register here</a>.
    </p>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const registered = urlParams.get('registered');

        if (registered) {
          alert('Registration successful. You can now log in.');
        }
      });
    </script>
  </body>
</html>
