<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <style>
      .input-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .input-container label,
      .input-container input {
        width: 45%;
      }
    </style>
  </head>
  <body>
    <h1 class="title">GRAFIK PRACY</h1>
    <h2>REGISTER</h2>
    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" required />

      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <input type="submit" value="Register" />
    </form>

    <p class="link-prompt">
      Already have an account? <a href="/login">Log in here</a>.
    </p>
  </body>
</html>
